body { 
  font-family: Arial, sans-serif; 
  background-color:	#FF0000; 
} 
header { 
  background-color: #4CAF50; 
  color: green; 
  text-align: center; 
  padding: 1em; 
} 
main { 
  padding: 1em; 
  text-align: center; 
} 
footer { 
  background-color: #4CAF50; 
  color: white; 
  text-align: center; 
  padding: 0.5em; 
  position: absolute; 
  bottom: 0; 
  width: 100%; 
} 
